.section {
  position: relative;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  background: white;
}

.fadeWrapper {
  position: relative;
  width: 95%;
  height: 65%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb800;
  border-radius: 3rem;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  opacity: 0;
  transition: opacity 0.4s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
}

.active { opacity: 1; }
.inactive { opacity: 0; }

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.prev { left: 5rem; }
.next { right: 5rem; }
