.titleSection {
  height: 15vw;
  position: relative;
  z-index: 1;
}

.title {
  height: 15vw;
  position: fixed;
  left: 0;
  width: 100%;
  font-size: 3rem;
  pointer-events: none;
  font-weight: 100;
  display: flex;
  align-items: center;
  z-index: 1;
}

.title h1 {
  margin: 0;
  font-weight: 900;
  color: #ffb800;
  text-shadow:
    3px 3px 0 #ffffff,
    6px 6px 0 #000000;
  text-align: left;
}

.title img {
  width: 20%;
  height: auto;
}

.videoSection {
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 2;
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}

@media (max-width: 768px) {
  .titleSection {
    font-size: 2rem;
  }

  .title {
    height: 100px;
  }
}