.home {
  overflow-x: hidden;
  background-color: #000000;
  color: white;
}

.titleSection {
  height: 15vw; /* space above video */
  z-index: 1;
}

/* Fixed title */
.title {
  height: 15vw;
  position: fixed;
  font-size: 3rem;
  pointer-events: none;
  font-weight: 100;
  display: flex;
  align-items: center;
}
.title h1 {
  margin: 0;
  font-weight: 900;
  color: #ffb800;
  text-shadow:
    3px 3px 0 #ffffff,
    6px 6px 0 #000000;
  text-align: left;
}

.title img{
  width: 20%;
  height: auto;
}

.videoSection {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: 10;
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}

.contentSection {
  position: relative;
  padding: 4rem 2rem;
  color: white;
  z-index: 10;
  background-color: #1a1a1a;
  min-height: 50vh;
}

.contentSection p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

/* Responsive design */
@media (max-width: 768px) {
  .titleSection {
    font-size: 2rem;
    padding: 1rem 0;
  }

  .titleWrapper {
    height: 100px;
  }

  .contentSection p {
    font-size: 1.2rem;
  }
}