.home {
  overflow-x: hidden;
  background-color: #000000;
  color: white;
}

.contentSection {
  position: relative;
  overflow-x: hidden;
  background-color: #000000;
  color: white;
  width: 100%;
  z-index: 10;
}

.featuredSection {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.metroSection {

}

.contactSection {

}