.featured{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.75rem;
  font-weight: 0;
  margin: 0.5rem;
  text-align: left;
  color: white;
}
.content{
  text-align: center;
}

.title {
  color: white;
  text-shadow: 0 0 10px #ffb800, 0 0 20px #ffb800, 0 0 30px #ffb800;
  animation: glowPulse 1.5s ease-in-out infinite alternate;
  font-size: 5rem;
}

@keyframes glowPulse {
  from {
    text-shadow: 0 0 10px #ffb800, 0 0 20px #ffb800, 0 0 30px #ffb800;
  }
  to {
    text-shadow: 0 0 20px #ed5b00, 0 0 40px #fb6400, 0 0 60px #f66f07;
  }
}

.paragraph {
  font-size: 1rem;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  line-height: 2rem;
}

.button {
  margin-top: 2rem;
  background-color: white;
  color: black;
  font-size: 0.9rem;
  padding: 0.75rem 1rem;
  border-radius: 3rem;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-color: black;
}

.button:hover {
  background-color: black;
  color: white;
}